In [1]:
# This allows multiple outputs from a single jupyter notebook cell:
import sys
import pandas as pd
import os
from datetime import datetime
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline

In [2]:
sys.path.append(os.path.dirname(os.getcwd())) # so we can import stockalyzer

import stockalyzer as st
from stockalyzer.data.data_model import TDDataFetcher
from stockalyzer.data.data_manager import StockDataManager
# nb_dir = os.path.split(os.getcwd())[0] + "/src/stockalyzer"
# if nb_dir not in sys.path:
#     sys.path.append(nb_dir)
# print(sys.path)

In [3]:
tickers = ["AMZN", "TSLA", "GOOG"]
sm = StockDataManager(TDDataFetcher(tickers), datetime(2019, 6, 1))
# output_files = sm.export_csv()
# cerebro, strats = sm.run_strategy(EMACrossoverStrategy, [20,50], plot=True)

<class 'datetime.datetime'>

In [6]:
d = sm.start_date
sm._data

                                 high        low     open    close   volume
ticker date
AMZN   2019-06-03 05:00:00  1766.2900  1672.0000  1760.01  1692.69  9098708
       2019-06-04 05:00:00  1730.8200  1680.8900  1699.24  1729.56  5679121
       2019-06-05 05:00:00  1752.0000  1715.2514  1749.60  1738.50  4239782
       2019-06-06 05:00:00  1760.0000  1726.1300  1737.71  1754.36  3689272
       2019-06-07 05:00:00  1806.2538  1759.4900  1763.70  1804.03  4808246
...                               ...        ...      ...      ...      ...
GOOG   2021-03-22 05:00:00  2057.9900  2026.0700  2041.84  2038.59  1954816
       2021-03-23 05:00:00  2072.3025  2039.2200  2051.70  2052.96  1366997
       2021-03-24 05:00:00  2078.2100  2041.5550  2065.37  2045.06  1154029
       2021-03-25 05:00:00  2058.8700  2010.7300  2044.81  2044.36  1418907
       2021-03-26 05:00:00  2050.9900  2014.0201  2038.86  2035.55  1493800

[1377 rows x 5 columns]

In [11]:
from datetime import datetime, date
datetime.today().timestamp()

1616957880.248058

In [ ]:
int(sm.start_date.strftime('%s'))*1000

In [ ]:
d = sm.start_date

In [ ]:
d.timestamp()

In [ ]:
d.strftime('%s')

In [ ]:
type(sm.start_date)

In [ ]:
datetime.today()

In [7]:
d.timestamp()

1559556000.0